.events-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
  padding: 0px;
  list-style: none;
  padding-bottom: 20px;
  margin: 0;

  @media screen and (min-width: 786px) {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 40px;
    padding: 30px;
    list-style: none;

    perspective: 15000px; 
    @media screen and (min-width: 786px) {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      gap: 40px;
      padding: 30px;
      list-style: none;

      margin: 0;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      padding: 0px 40px 40px 40px;
    }
  }

  margin: 0;
}



.event-card {
  position: relative;
  border-radius: 20px;
  width: 138px;
  margin: 0 auto;
  transition: transform 0.35s ease;

  @media screen and (min-width: 768px) {
    width: 196px;
  }
}

.event-card::after {
  content: "";
  position: absolute;

  right: -15px;     
  top: -15px;        

  width: 80%;       
  height: 40%;

  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0;

  pointer-events: none;
  z-index: 1; 
}



@media screen and (min-width: 768px) {
  .event-card::after {
    right: -10px;
    top: 12px;

    width: 80%;
    height: 40%;
  }
}


@media screen and (min-width: 1280px) {
  .event-card::after {
    right: -10px;     
  top: 10px;        

  width: 80%;       
  height: 40%;
  }
}


.event-card:hover {
  transform: scale(1.05);
}


.event__back {
  position: absolute;
  top: 0px;
}

.event-img {
  width: 100%;
  margin: auto;
  height: 227px;
  border-radius: 50px 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;

  object-fit: cover;


  @media screen and (min-width: 768px) {
    width: 195px;
  }


  @media screen and (min-width: 768px) {
    width: 180px;
    margin-top: 25px;
  }
}

.event-title {
  color: #dc56c5;
  font-size: 16px;
  margin: 10px;
}

.event-date {
  color: #fff;
  margin: 0 10px 5px;
}

.event-place {
  display: flex;           
  align-items: center;
  justify-content: center;      
  gap: 5px;                 
  margin: 0 10px 15px;
  color: #aaa;
}

.map-modal {
  width: 100%;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .map-modal {
    max-width: 400px;
  }

  .map-modal iframe {
    height: 300px;
  }
}

.map-modal h3 {
  color: #fff;
  margin-bottom: 20px;
}

.map-modal iframe {
  border-radius: 20px;
}

.event-place .event-svg {
  order: -1;               
  width: 7px;               
  height: 10px;
  flex-shrink: 0;           
}





.zero-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  width: 100%;
  text-align: center;
}
.zero-matches__img {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 250px;
  // margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .zero-matches__img {
    width: 450px;
  }
}

.zero-matches__text {
  color: #dc56c5;
  font-size: 22px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .zero-matches__text{
    font-size: 32px;
  }
}

.events-list.no-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}




.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.page-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 10px;
  transition: 0.3s;
}

.page-btn:hover {
  color: #ff3d9a;
}

.page-btn.active {
  border: 1px solid #ff3d9a;
  border-radius: 10px 0;
  color: #ff3d9a;
}

.dots {
  color: #fff;
  padding: 6px;
}
