.header {
  background-image: url(../../img/header/header-lg.jpg);

  background-color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;

  &__title {
    width: 589px;
    height: 162px;
    color: #dc56c5;
    padding-top: 80px;
    margin-bottom: 65px;
    text-align: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 212px;
    height: 44px;

    @media screen and (min-width: 786px) {
      font-size: 30px;
      width: 353px;
      padding-top: 40px;
      height: 74px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 50px;
      width: 589px;
      height: 122px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__image {
    width: 110px;

    @media screen and (min-width: 786px) {
      width: 180px;
    }

    @media screen and (min-width: 1280px) {
      width: 240px;
    }
  }

  &__form {
    padding-bottom: 200px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: 786px) {
      padding-bottom: 200px;
      margin-top: 65px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__input {
    width: 270px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    outline: none;
    transition: 0.3s;
  }

  &__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &__icon {
    position: relative;
    width: 270px;
    margin: auto;

    @media screen and (min-width: 786px) {
      margin: 0%;
    }
  }

  &__icons {
    position: absolute;
    top: 14.5px;
    right: 30px;
  }

  &__iconss {
    position: absolute;
    top: 17px;
    right: 30px;
  }
}
