$primary-bg-color:     #212121;
$input-bg-color:       rgba(255, 255, 255, 0.2);
$modal-bg-color:       #4c0ffe;
$primary-text-color:   #ffffff;
$secondary-text-color: #939393;
$accent-text-color:    #dc56c5;           // предполагаю, что #dc565 было опечаткой
$modal-primary-text:   #0e0e0e;
$modal-accent-text:    #4c0ffe;
$modal-color:          #4c0ffe;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-montserrat: 'Montserrat', sans-serif;