<section class="header">
    <div class="bcg-logo"></div>
    <a href="#">
        <picture>
            <source media="(min-width: 1280px)" srcset="" />
            <source media="(min-width: 768px)" srcset=""/>
            <img srcset="" src="" alt="Logo" class="img__logo" loading="lazy" />
        </picture>
    </a>
    <div class="container">
        <h1 class="title">FIND BEST EVENTS<br>
            AROUND THE WORLD</h1>
        
        <div class="form-container">
          <form class="search-form js-form-keyword" id="search-form">
              <input type="text" name="query" autocomplete="off" placeholder="Start searching" class="input"/>
          </form>

          <select id="selectCountry" class="search-form js-form-country" aria-label="Default select example" >
          </select>
        </div>
    </div>
</section>
<div>