<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__close">&#10006;</button>

    <div class="modal__content">
      <div class="modal__image-wrapper">
        <img class="modal__image" src="" alt="image">
      </div>

      <div class="modal__info">
        <h3 class="modal__title">INFO</h3>
        <p class="modal__text modal__text--info"></p>

        <h3 class="modal__title">WHEN</h3>
        <p class="modal__text modal__text--date"></p>

        <h3 class="modal__title">WHERE</h3>
        <p class="modal__text modal__text--location"></p>

        <h3 class="modal__title">WHO</h3>
        <p class="modal__text modal__text--name"></p>
      </div>
    </div>
  </div>
</div>